body {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3 {
    color: #666;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.load-success {
    color: green;
}

.jsoneditor-menu {
    background-color:  #333 !important;
  }

.load-failure {
    color: red;
}

.hidden {
    display: none;
}

#jsoneditor {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    height: 100vh; /* Set container height to full viewport height */
  }
  
  .left-section {
    grid-column: 1 / 2;
    background-color: #f0f0f0; /* Add a background color to the left section */
    padding: 10px; /* Add padding to the left section */
  }

  .right-section {
    grid-column: 2 / 3;
    width: 95%; /* Set the width to 100% */
    height: 90%; /* Set the height to 100% */
  }
