body {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #666;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .load-success {
    color: green;
  }
  
  .load-failure {
    color: red;
  }